.large-icon {
    font-size: 2rem;
    margin: 20px;
}

.large-text {
    font-size: 4rem;
}

.weather-report {
    border: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
    min-width: 150px; /* Set a minimum width for each weather report block */

}

.hstack {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    gap: 10px; /* Optional: Adds space between weather items */
}

.card {
    font-family: Arial, sans-serif;
    /*font-family: Weather;*/
    margin: 10px;
    margin-top: 20px;
    border-color: white;
    background: none;
}

.no-card-features {
    border-width: 0;
    padding-bottom: 20px;
    padding-top: 20px
}

body {
    background: azure;
}

.warn-0 {
    color: green;
}

.warn-1 {
    color: greenyellow;
}

.warn-2 {
    color: yellow;
}

.warn-3 {
    color: orange;
}

.warn-4 {
    color: red;
}

.card-header {
    background: rgba(256, 256, 256, .2);
    border-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}

.card-body {
    background: none;
    border-color: white;
}

.white {
    color: white;
}